# http://stevegrunwell.github.io/wordpress-git/#/10

# Keep these files out of the repo
/wp-content/themes/twenty*
/wp-content/upgrade
/wp-content/uploads
/sitemap.*
/wp-config.php
/.htaccess
*.sql
node_modules

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
_source